service: web-service
frameworkVersion: '3'
useDotenv: true

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'dev'}
  region: ap-southeast-1
  logRetentionInDays: ${self:custom.logRetention.${self:provider.stage}} # keep days Log by Stage
  timeout: 6
  memorySize: 256       # default RAM 1024MB
  deploymentBucket:
    blockPublicAccess: true        # block public access to S3 bucket
    maxPreviousDeploymentArtifacts: 3 # keep only 3 previous deployment artifacts (old ones deleted)
  
  # IAM Role Processor for Lambda Function
  # When Deploy: Run "serverless deploy" AWS will create "Pass card" (IAM Role)
  # When Runtime (Important):
  # When your code reaches a line that needs to interact with others, such as await s3.putObject(...)
  # Lambda will present the "pass card" to AWS
  # AWS will check in a fraction of a second whether "this card has the Action s3:PutObject and the Resource matches this bucket?"
  # ✅ If yes: Allow the action (code continues to run)
  # ❌ If no: AWS will reject with Error: AccessDeniedException (code fails immediately)
  ## Example
  # iam:
  #   role:
  #     statements:
  #       - Effect: Allow
  #         Action: # search google "AWS actions for S3"
  #           - s3:GetObject  # service : S3, action : GetObject
  #           - s3:PutObject  # service : S3, action : PutObject
  #           - s3:DeleteObject  # service : S3, action : DeleteObject
  #         Resource: "arn:aws:s3:::my-images/*" # only bucket name "my-images" (no other buckets allowed)
  #         # "arn : partition : service : region : account-id : resource"

  environment:
    ENVIRONMENT: ${env:ENVIRONMENT}
    ORIGIN: ${env:ORIGIN}
plugins:
  - serverless-webpack
  - serverless-offline

functions:
  hello:
    handler: src/handler.hello
    events:
      - http:
          path: /hello
          method: get
          cors: true

custom: # Custom variable
  logRetention: # Log retention days by Stage
    dev: 7
    prod: 15
  serverless-offline:
    httpPort: 18000
    lambdaPort: 18001
    reloadHandler: true # force reload handler for new request

